body{
	font-family: 'Dancing Script';
	color: #fff;
	width: 100%;
	margin-left:16%;
	margin-top: 0.1%;
	background-color:  #02010a;
}
/*-----------------cabezera--------------*/
header{
	width: 900px;
	height: 60px;
	background-color: #5b7989;
	border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    animation: animacion 1s;
	}
h1{
	float: left;
	padding-left: 4%;
    font-size: 1.5em;
    text-shadow: 2px 2px  #02010a;
}
nav{
	float: right;
	padding-right: 4%;

}
nav ul{
	list-style: none;
	word-spacing: 20px;
}

nav ul li {
	display: inline-block;
	font-size: 1em;
	
}

nav ul li a{
	color: #fff;
	
}


a[href="index.html"]{
	text-decoration: none;
}
/*----------------------cuerpo----------------*/

.contenido{
	width: 900px;
	height: 375px;
	background-color:  #82c3a6;
	display: block;
	text-align: center;
	padding-top: 1%;
}
img{
	width: 80%;
	filter: drop-shadow(2px 2px #02010a);
	margin-bottom:1%;
}

.ImagenSecundaria{
	width: 900px;
	height: 245px;
	background-color: #d5c75f;
	display: flex;
    flex-direction: row;
}
figure{
	width: 900%;
	height: 250px;
	margin-top: 1%;
}
.adaptativa-porcentaje-1{
	border: 1px solid black;
    filter: drop-shadow(2px 2px #02010a);
    transition-duration: 1s; 
}

.adaptativa-porcentaje-1:hover{
	transform: rotate(10deg);
	filter: drop-shadow(2px 2px #82c3a6);
	border: 2px solid black;
}
.adaptativa-porcentaje-2{

	border: 1px solid black;
	filter: drop-shadow(2px 2px  #02010a);
	transition-duration: 1s; 
}
.adaptativa-porcentaje-2:hover{
	transform: translate(20px,  -5px);
	filter: drop-shadow(2px 2px #82c3a6);
	border: 2px solid black;
}
a{
	color: black;
}
/*-----------------------footer---------------*/
footer{
	width: 900px;
	height: 210px;
	margin-top: 240px;
    bottom: 0;
	background-color:#C6d5c5;
	border-radius: 0px 0px 10px 10px;
}
.Piedepágina{
	width: 900px;
	height: 200px;
	background-color:#C6d5c5;
   display: flex;
   flex-direction: row;
 }
 div [class*="contenido"]{

 min-height: 200px;
 flex: 1 2 40%;
 color:black;
 font-family: 'Dancing Script'
 
}
.contenido1{
	width: 100%;
    text-align: center;
   
}


.contenido2{
	
    text-align: center;
}
.contenido3{
	
   text-align: center;
   
}

.contenido4{
	
   text-align: center;
}
.contenido3 a img{
	width: 12%;
	filter: drop-shadow(0px 0px #82c3a6);
	padding: 0.5%;


}
/*-----------------------------mediaQuerie-----------------*/

@media(max-width: 420px){
	header{
		width: 100%;
		height: 130px;
		display:block;
		border-radius: 10px 10px 0px 0px;
        -moz-border-radius: 10px 10px 0px 0px;
        -webkit-border-radius: 10px 10px 0px 0px;
	}
	body{
		margin-left: 0.1%;
		font-size: 1em;
	}
	h1{
		margin-left: 16%;
		text-align: center;
	}
	nav{
    margin-right: 25%;
	}
	.contenido{
		width: 100%;
		height:247px;
		padding-top: 2%;
	}
	img{
		width: 80%;
	}
	.ImagenSecundaria{
		width: 100%;
		display: block;
		height: 550px;
	}
	figure{
		width: 100%;
		padding-top: 2%;

	}
	.adaptativa-porcentaje-1{
		margin-right: 28%;
	}
	.adaptativa-porcentaje-2{
		margin-right: 28%;
	}
	footer{
		margin-top: 470px;
	}
	a{
		margin-right: 20%;
	}
	footer{
		width: 100%;
		border-radius: 0px 0px 10px 10px;
		height: 510px;
	}
	.Piedepágina{
		width: 100%;
	    height: 500px;
		display: block;
		margin: auto;
	}
    
    div [class*="contenido"]{
            width:100%;
         min-height: 100px; 
         margin: auto;   
    }
    .contenido1{
    	padding-top: 1%;
}
    .contenido3 a img{
    	width: 10%;
    	padding: 0%;
    	margin-left: 5%;
    }
     .contenido3 a {
     	margin-right: 5%;
    }
}

/*--------------------Animación--------------------*/
@-webkit-keyframes animacion{
	0%{
		margin-top: 150%;
	}
	60%{
		margin-top: -5%;
	}
	100%{
		margin-top: 0%;
	}
}


